* {
    margin: 0;
    padding: 0;
}

/* Quitar puntos a la lista */
ul {
    list-style: none;
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    /* altura de linea */
    margin: 0;
}

ol {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    /* altura de linea */
    margin: 0;
}

/* Quitar subrayado a la etiqueta anchor */
a {
    text-decoration: none;
    color: inherit;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

/* Tamaño y fuente de los titulos */
h1 {
    font-family: 'Roboto Slab, serif';
    font-size: 48px;
    color: #f5f5dc;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-family: 'Roboto Slab, serif';
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-family: 'Roboto Slab, serif';
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto Slab, serif';
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-family: 'Roboto Slab, serif';
    font-size: 16px;
    font-weight: 500;
}

h6 {
    font-family: 'Roboto Slab, serif';
    font-size: 14px;
    font-weight: 400;
}

p {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    /* altura de linea */
    margin: 0;
}

/* establecer color de fondo del header */
header {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: #f5f5dc;
    background-color: #4b0082;
}

body {
    background-color: #f5f5dc;
}

.navBar {
    max-width: 76rem;
    padding: .625rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.logoHeader {
    width: 6.25rem;
}

.logoHeader:hover{
    transform: scale(1.1); 
    cursor: pointer;
}

.logoHeader img {
    max-width: 6.25rem;
}

.titulosHeader ul {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.titulosHeader ul li :hover{
    padding: .625rem;
    box-sizing: border-box;
    border: #f5f5dc solid 1px;
    border-radius: 20px 0px 20px 0px;
    transition: transform 0.3s;
    transform: scale(1.1); 
}

.botonesHeader {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .3125rem;
}


/* Boton amarillo */
.btnAmarillo {
    width: 8.125rem;
    height: fit-content;
    background-color: #d19e00;
    color: #f5f5dc;
    padding: .625rem .9375rem;
    box-sizing: border-box;
    border-radius: 20px 0px 20px 0px;
    border: solid #f5f5dc 1px;
    margin: 0rem .3125rem;
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center;/* Centrar el contenido verticalmente */
    cursor: pointer;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.btnAmarillo:hover{
    background-color: #4b0082;
    border: #d19e00 solid 1px;
    transition: border-color 0.3s;
}

/* Boton purpura */
.btnBlanco {
    width: 8.125rem;
    height: fit-content;
    background-color: #f5f5dc;
    color: #4b0082;
    padding: .625rem .9375rem;
    border-radius: 20px 0px 20px 0px;
    border: solid #f5f5dc 1px;
    margin: 0rem .3125rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.btnBlanco:hover{
    background-color: #4b0082;
    border: #f5f5dc solid 1px;
    color: #f5f5dc;
}

.botonPurpura {
    width: 6.25rem;
    height: fit-content;
    background-color: #4b0082;
    color: #f5f5dc;
    padding: .625rem .9375rem;
    border-radius: 20px 0px 20px 0px;
    margin: 0rem .3125rem;
    border: 1px #4b4b4b solid;
    display: flex;
    justify-content: center;  
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.botonPurpura:hover{
    background-color: #f5f5dc;
    border: #4b0082 solid 1px;
    color: #4b0082;
}

/* box modeling primera section */

.primeraSection {
    background-image:
        linear-gradient(to bottom right, #4c0082d3, #f5f5f500),
        url(../assets/fotoTitulo1.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    margin: 2.5rem auto;
}

.flexPrimeraSection {
    max-width: 76rem;
    height: auto;
    padding: 3.125rem;
    margin: auto auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: .625rem;
    flex-wrap: wrap;
}

.primeraSection .flexPrimeraSection p {
    color: #f5f5dc;
    text-align: justify;
}

.flexPrimeraSection h2 .h2Cada {
    color: blanchedalmond;
}

.flexPrimeraSection h2 .h2Mente {
    color: cadetblue;
}

.flexPrimeraSection h2 .h2Es {
    color: violet;
}

.flexPrimeraSection h2 .h2Unica {
    color: royalblue;
}

.flexPrimeraSection h2 .h2Y {
    color: green;
}

.flexPrimeraSection h2 .h2Valiosa {
    color: aqua;
}


.segundaSection {
    width: 100%;
    background-color: #4b0082;
    color: #f5f5dc;
    display: flex;
}

.segundaSection article {
    width: 76rem;
    padding: 1.25rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.terceraSection {
    max-width: 76rem;
    margin: 2.5rem auto;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.terceraSection article {
    flex: 1;
    /* Establezco que cada elemento utilice una fraccion dentro del contenedor*/
    padding: .625rem;
    border: solid .0625rem #4b0082;
    border-radius: 1.875rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.terceraSection img {
    width: 15.625rem;
    height: 15.625rem;
    object-fit: cover;
    border-radius: 50%;
}

.terceraSection p {
    text-align: justify;
}

.pDerecha {
    align-self: flex-end;
}

.sectionDonar {
    max-width: 76rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    text-align: center;
    color: #4b0082;
}

.contenedorQuieroDonar {
    width: 45rem;
    background-color: #4b0082;
    color: #f5f5dc;
    box-sizing: border-box;
    padding: 2.5rem;
    border: solid .0625rem;
    border-radius: 1.875rem;
    display: grid;
    grid-template-columns: repeat(4, fit-content);
    grid-template-rows: repeat(3, fit-content);
    gap: .9375rem;
}

#quieroDonarTitulo {
    grid-column: 1/3;
    justify-self: start;
    align-self: center;
}

#quieroDonarSubtitulo {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: end;
    align-self: center;
}

#quieroDonar5 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

#quieroDonar10 {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}

#quieroDonar20 {
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
}

#btnDonar {
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
}

#inputDinero {
    grid-column: 2/4;
    grid-row: 3/4;
}

.cuartaSection {
    max-width: 76rem;
    margin: 2.5rem auto;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
    color: #4b0082;
    box-sizing: border-box;
}

.contenedorCuartaSection {
    max-width: 76rem;
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.articuloCuartaSection {
    flex: 1;
    padding: 1.25rem;
    border-radius: 1.875rem;
    background-color: #4b0082;
    color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 1.25rem;
    text-align: justify;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.fotoArticuloSection4 {
    height: 9.375rem;
    border: solid 1px #f5f5dc;
    margin: 5px;
    border-radius: 20px;
}

#btnUnete {
    align-self: flex-end;
}

.quintaSection {
    max-width: 76rem;
    margin: 0 auto;
    display: flex;
    gap: .625rem;
    justify-content: center;
    flex-wrap: wrap;
    color: #f5f5dc;
    box-sizing: border-box;
}

.backgroundQuintaSection {
    width: 76rem;
    height: 31.25rem;
    background-image:
        linear-gradient(to left, #4c0082a8, #f5f5f500),
        url(../assets/fotoSection5.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    padding: 1.25rem;
    margin: 0 0 2.5rem 0;
    border: solid .0625rem #4b0082;
    border-radius: 6.25rem 0 18.75rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.articuloQuintaSection {
    max-width: 31.25rem;
    margin: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    flex-wrap: wrap;
}

.articuloQuintaSection p {
    text-align: justify;
}

footer {
    height: 100%;
    background-color: #4b0082;
    color: #f5f5dc;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.primerContenedorFooter {
    display: flex;
    /* border: solid 1px black; */
    flex-wrap: wrap;
}

.primerContenedorFooter article {
    flex: 1;
    padding: 0 1.25rem;
    box-sizing: border-box;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

#articuloTranspariencia {
    text-align: justify;
}

.btnNewsletter {
    display: flex;
}

.segundoContenedorFooter {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    gap: .625rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.redesSociales {
    width: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Inicio CSS del HTML "Aprende" */

.primeraSectionAprende {
    max-width: 100%;
    padding: 1.25rem;
    margin: 1.875rem 0;
    background-color: #4b0082;
    border: #4b0082 solid .0625rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.articuloPrimeraSectionAprende {
    max-width: 76rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    color: #f5f5dc;
    text-align: justify;
}

/* segundaSection HTML Aprende */

.segundaSectionAprende {
    max-width: 100%;
    padding: 1.25rem;
    margin: 1.875rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.articuloSegundaSectionAprende {
    max-width: 76rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    text-align: justify;
}

.articuloSegundaSectionAprende h2 {
    color: #4b0082;
}

/* Tercera section aprende */

.terceraSectionAprende {
    max-width: 76rem;
    padding: 1.25rem;
    margin: 1.875rem auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.terceraSectionAprende h3 {
    color: #4b0082;
}

.articuloNeurodivergenciaTea {
    width: 100%;
    padding: 3.125rem;
    border: solid .0625rem #4b0082;
    border-radius: 1.875rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    flex-wrap: wrap;

}

.articuloNeurodivergenciaTea h3 {
    color: #4b0082;
}

.articuloNeurodivergenciaTea ul {
    text-indent: 2em;
    list-style: disc;
    list-style-position: inside;
}

.articuloNeurodivergenciaTea p {
    text-align: justify;
}

.articuloNeurodivergenciaTea div {
    align-self: flex-end;
}

.articuloNeurodivergencia {
    width: 100%;
    padding: 3.125rem;
    border: solid .0625rem #4b0082;
    border-radius: 1.875rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    flex-wrap: wrap;
}

.articuloNeurodivergencia div {
    align-self: flex-end;
}


.cuartaSectionAprende img {
    width: 12.5rem;
    object-fit: cover;
    border-radius: 1.875rem;
}

.cuartaSectionAprende {
    max-width: 62.5rem;
    padding: 2.5rem;
    margin: 1.875rem auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-around;
}

.articuloCuartaSectionAprende {
    width: 37.5rem;
}

.articuloCuartaSectionAprende p {
    text-align: justify;
}

/* CSS HTML quintaSection */

.quintaSectionAprende {
    width: 100%;
    background-color: #4b0082;
    margin: 1.875rem 0;
}

.contenedorQuintaSectionAprende {
    max-width: 76rem;
    padding: 2.5rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #f5f5dc;
}

.articuloCuartaSectionAprende {
    display: flex;
    flex-wrap: wrap;
}

.articuloQuintaSectionAprende div {
    width: fit-content;
}

/* CSS sexta section aprende */

.sextaSectionAprende {
    max-width: 76rem;
    padding: 2.5rem;
    margin: 1.25rem auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 1.25rem;
}

.contenedorSextaSectionAprende {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.articuloSextaSectionAprende {
    flex: 1;
    height: auto;
    border-radius: 1.875rem 0 6.25rem 0;
    padding: 3.125rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.articuloSextaSectionAprende div {
    align-self: flex-end;
}

.articuloSextaSectionAprende p {
    text-align: justify;
}

.contenedorSextaSectionAprende> :first-child {
    background-color: #4b0082;
    color: #f5f5dc;
    border: solid #f5f5dc 1px;
}

.contenedorSextaSectionAprende> :last-child {
    color: #4b0082;
    border: solid #4b0082 1px;
}

/* Inicio HTML TIENDA! */

.primerContenedorSectionTienda {
    max-width: 76rem;
    margin: 1.875rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
}

.sectionTiendaTitulo h1 {
    color: #4b0082;
}

/* Establezco el el contenido de la reseña y el grid de ventas */
.segundoContenedorSectionTienda {
    max-width: 100%;
    display: flex;
    gap: 1.875rem;
    /* flex-wrap: wrap; */
}

/* Trabajo con la reseña */

.segundoContenedorSectionTienda> :first-child {
    max-width: 15.625rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.segundoContenedorSectionTienda> :first-child article {
    width: 100%;
    padding: .9375rem;
    border: solid 1px #4b0082;
    border-radius: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    align-items: flex-start;
    text-align: justify;
}

.segundoContenedorSectionTienda> :first-child article h2 {
    color: #4b0082;
}


.segundoContenedorSectionTienda> :first-child article> :last-child {
    align-self: center;
}



/* Trabajo con la grilla de productos */

.segundoContenedorSectionTienda> :last-child {
    max-width: 56.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

.segundoContenedorSectionTienda> :last-child article {
    max-width: 18.125rem;
    padding: .9375rem;
    border: #4b0082 .0625rem solid;
    border-radius: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: .625rem;
    flex-wrap: wrap;
}

.segundoContenedorSectionTienda> :last-child article img {
    width: 100%;
    height: 14.6875rem;
    object-fit: cover;
    border-radius: 1.875rem;
}


.topVenta {
    width: 7.5rem;
    height: fit-content;
    align-self: flex-start;
    background-color: #4b0082;
    color: #d19e00;
    text-align: center;
    border-radius: .3125rem;
}

.segundoContenedorSectionTienda> :last-child article> :nth-child(3)> :first-child {
    color: #4b0082;
    font-size: 1.125rem;
}

.segundoContenedorSectionTienda> :last-child article div {
    display: flex;
    /* width: 100%; */
}

.segundoContenedorSectionTienda> :last-child article div> :first-child {
    border: solid .0625rem #4b0082;
    width: fit-content;
}

.segundoContenedorSectionTienda> :last-child article div> :last-child {
    border: solid .0625rem #d19e00;
    width: fit-content;
}

/* Ultima parte de tienda */

.ultimoTituloTienda {
    width: 100%;
    height: 6.25rem;
    padding: 1.875rem;
    box-sizing: border-box;
    background-color: #4b0082;
    color: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}

/* Inicio CSS HTML Conocenos */

.primeraSectionConocenos {
    max-width: 100%;
    margin: 1.875rem 0;
    background-color: #4b0082;
    color: #f5f5dc;
}

.contenedorPrimeraSectionConocenos {
    max-width: 76rem;
    margin: 0 auto;
    padding: 1.875rem;
    box-sizing: border-box;
}

.segundaSectionConocenos {
    max-width: 76rem;
    margin: 1.875rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.segundaSectionConocenos article {
    width: 31.25rem;
    height: auto;
    background-color: #4b0082;
    color: #f5f5dc;
    padding: 2.5rem;
    border-radius: 1.875rem 0 6.25rem 0;
    border: solid 1px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
}

.segundaSectionConocenos article p {
    text-align: justify;
}

.segundaSectionConocenos article div {
    align-self: flex-end;
}


/* Primer contenedor */
.terceraSectionConocenos {
    max-width: 76rem;
    margin: 1.875rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* Segundo contenedor, con ambos articulos base */
.contenedorTerceraSectionConocenos {
    max-width: 76rem;
    height: auto;
    box-sizing: border-box;
    display: flex;
    background-color: #4b0082;
    color: #f5f5dc;
    border-radius: 1.875rem;
}

/* Embajadores e informes anuales contenedor */

.contenidoArticulo {
    max-width: 43.75rem;
    height: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: justify;
    flex-wrap: wrap;
}

.contenidoArticulo div {
    width: fit-content;
}

.contenidoArticulo p {
    width: fit-content;
    text-align: justify;
}

/* Contenedor de la imagen primer articulo */
#imagenUnoSectionConocenos {
    width: 32.25rem;
    background-image: url(../assets/embajadores.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 0;
}

/* Contenedor de la imagen segundo articulo */
#imagenDosSectionConocenos {
    width: 32.25rem;
    background-image: url(../assets/informeAnual.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 0;
}

.cuartaSectionConocenos {
    max-width: 76rem;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
}

.cuartaSectionConocenos>:first-child {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.cuartaSectionConocenos>:first-child h2 {
    color: #4b0082;
}

.cuartaSectionConocenos>:first-child p {
    text-align: justify;
}


.cuartaSectionConocenos>:last-child {
    max-width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cuartaSectionConocenos>:last-child article {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.cuartaSectionConocenos>:last-child article h3 {
    color: #4b0082;
}

.cuartaSectionConocenos>:last-child article p {
    text-align: justify;
}

/* Primer contenedor */
.quintaSectionConocenos {
    max-width: 76rem;
    margin: 1.875rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* Segundo contenedor, con ambos articulos base */
.contenedorQuintaSectionConocenos {
    max-width: 76rem;
    height: auto;
    box-sizing: border-box;
    display: flex;
    background-color: #d19e00;
    color: #f5f5dc;
    border-radius: 1.875rem;
}

/* Embajadores e informes anuales contenedor */

.contenidoArticuloQuintaSection {
    max-width: 43.75rem;
    height: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: justify;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.contenidoArticuloQuintaSection div {
    width: fit-content;
}

.contenidoArticuloQuintaSection p {
    text-align: justify;
}

/* Contenedor de la imagen primer articulo */
#imagenQuintaSectionConocenos {
    width: 32.25rem;
    background-image: url(../assets/informeAnual.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 0;
}

.sextaSectionConocenos {
    max-width: 76rem;
    margin: 3.125rem auto;
}

.contenedorSextaSectionConocenos {
    max-width: 55rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.contenedorSextaSectionConocenos>:first-child {
    width: 50%;
    height: auto;
    background-image: url(../assets/sucursales.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1.875rem 0 0 1.875rem;
}

.contenedorSextaSectionConocenos>:last-child {
    max-width: 50%;
    background-color: #4b0082;
    color: #f5f5dc;
    padding: 2.5rem;
    border-radius: 0 1.875rem 1.875rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedorSextaSectionConocenos>:last-child>:first-child {
    text-align: justify;
}

.contenedorSextaSectionConocenos>:last-child>:last-child {
    max-width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .625rem 3.125rem;
}



.contenedorSextaSectionConocenos>:last-child>:last-child>:first-child {
    display: flex;
    justify-content: center;
    gap: .625rem;
    align-items: center;
}

.contenedorSextaSectionConocenos>:last-child>:last-child>:first-child div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #f5f5dc solid;
    background-color: #d19e00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenedorSextaSectionConocenos>:last-child>:last-child>:first-child div:hover{
    background-color: #4b0082;
}

.contenedorSextaSectionConocenos>:last-child>:last-child>:last-child {
    width: fit-content;
}


.primeraSectionUnete {
    max-width: 76rem;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3125rem;
    text-align: center;
}

.primeraSectionUnete h1 {
    color: #4b0082;
}


.segundaSectionUnete {
    max-width: 76rem;
    height: 20rem;
    padding: 1.25rem;
    border-radius: 6.25rem 0 12.5rem 0;
    box-sizing: border-box;
    background-image:
        linear-gradient(to bottom right, #4c0082e0, #f5f5f517),
        url(../assets/donar.jpg);
    /* agrego de fondo una imagen*/
    background-size: cover;
    background-position: center;
    display: flex;
}

.contenedorSegundaSectionUnete {
    max-width: 40rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, fit-content);
    gap: .625rem;
    color: #f5f5dc;
}

.contenedorSegundaSectionUnete>:first-child {
    grid-row: 1/2;
    grid-column: 1/4;
}

.contenedorSegundaSectionUnete>:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}

.contenedorSegundaSectionUnete>:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}

.contenedorSegundaSectionUnete>:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}

.contenedorSegundaSectionUnete>:nth-child(5) {
    grid-row: 2/3;
    grid-column: 4/5;
}

.contenedorSegundaSectionUnete>:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/2;
}

.contenedorSegundaSectionUnete>:nth-child(7) {
    grid-row: 3/4;
    grid-column: 2/3;
}

.contenedorSegundaSectionUnete>:nth-child(8) {
    grid-row: 3/4;
    grid-column: 3/4;
}

.contenedorSegundaSectionUnete>:nth-child(9) {
    grid-row: 3/4;
    grid-column: 4/5;
}

.contenedorSegundaSectionUnete>:nth-child(10) {
    grid-row: 4/5;
    grid-column: 1/2;
}

.contenedorSegundaSectionUnete>:nth-child(11) {
    grid-row: 4/5;
    grid-column: 2/4;
}

.contenedorSegundaSectionUnete>:last-child {
    grid-row: 4/5;
    grid-column: 4/5;
}

/*  */

.terceraSectionUnete {
    max-width: 76rem;
    display: flex;
    gap: 1.25rem;
}

.contenedorTerceraSectionUnete {
    flex: 1;
    padding: 1.875rem;
    box-sizing: border-box;
    background-color: #4b0082;
    color: #f5f5dc;
    border-radius: 1.875rem 0 6.25rem 0;
    gap: 1.25rem;
    text-align: justify;
}

.cuartaSectionUnete {
    max-width: 76rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: solid #4b0082 .0625rem;
    border-radius: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4b0082;
}

.quintaSectionUnete {
    max-width: 76rem;
    border: solid #4b0082 .0625rem;
    border-radius: 1.875rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #4b0082;
}

.contenedorQuintaSectionUnete {
    max-width: 50%;
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: flex-start;
}

.contenedorQuintaSectionUnete p {
    color: black;
    text-align: justify;
}

.quintaSectionUnete img {
    object-fit: cover;
    width: 100%;
    border-radius: 1.875rem;
}

.contenedorGridUnete {
    width: 76rem;
    display: grid;
    margin: 1.25rem auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, fit-content);
    gap: 3.125rem;
    justify-content: stretch;
}

.contenedorGridUnete>:first-child {
    grid-column: 1/13;
    grid-row: 1/2;
}

.contenedorGridUnete>:nth-child(2) {
    grid-column: 1/13;
    grid-row: 2/3;
}

.contenedorGridUnete>:nth-child(3) {
    grid-column: 1/13;
    grid-row: 3/4;
}

.contenedorGridUnete>:nth-child(4) {
    grid-column: 1/13;
    grid-row: 4/5;
}

.contenedorGridUnete>:nth-child(5) {
    grid-column: 1/13;
    grid-row: 5/6;
}

/* Responsive tablets*/
@media ((min-width: 46.5rem) and (max-width: 64rem)) {
    h1 {
        font-family: 'Roboto Slab, serif';
        font-size: 32px;
        color: #f5f5dc;
        font-weight: 700;
        margin: 0;
    }

    h2 {
        font-family: 'Roboto Slab, serif';
        font-size: 28px;
        font-weight: 600;
        margin: 0;
    }

    h3 {
        font-family: 'Roboto Slab, serif';
        font-size: 24px;
        font-weight: 600;
    }

    h4 {
        font-family: 'Roboto Slab, serif';
        font-size: 20px;
        font-weight: 500;
    }

    h5 {
        font-family: 'Roboto Slab, serif';
        font-size: 16px;
        font-weight: 500;
    }

    h6 {
        font-family: 'Roboto Slab, serif';
        font-size: 14px;
        font-weight: 400;
    }

    p {
        font-family: "Merriweather", serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        /* altura de linea */
        margin: 0;
    }

    a {
        font-size: 12px;
    }

    .titulosHeader {
        display: none;
    }

    .primeraSection {
        margin: 1.25rem auto;
    }

    .flexPrimeraSection {
        max-width: 41.875rem;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }

    .flexPrimeraSection h1 {
        max-width: 100%;
        justify-content: center;
    }

    .flexPrimeraSection h2 {
        max-width: 100%;
        font-size: 24px;
        justify-content: center;
    }

    .flexPrimeraSection div {
        align-self: center;
        font-size: .875rem;
    }

    .terceraSection {
        max-width: 41.875rem;
        margin: 1.25rem auto;
        flex-direction: column;
        gap: .625rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .terceraSection p {
        align-self: center;
    }

    .terceraSection img {
        width: 9.375rem;
        height: 9.375rem;
    }

    .sectionDonar {
        max-width: 41.875rem;
        gap: 1.25rem;
    }

    .contenedorQuieroDonar {
        max-width: 29.375rem;
        gap: .625rem;
        justify-content: center;
    }

    #quieroDonarTitulo {
        grid-column: 1/5;
    }

    #quieroDonarSubtitulo {
        display: none;
    }

    #quieroDonar5 {
        max-width: fit-content;
    }

    #quieroDonar10 {
        max-width: fit-content;
    }

    #quieroDonar20 {
        max-width: fit-content;
    }

    #btnDonar {
        max-width: fit-content;
    }

    .cuartaSection {
        max-width: 41.875rem;
        margin: 1.25rem auto;
        gap: 1.25rem;
    }

    .contenedorCuartaSection {
        max-width: 100%;
        gap: .625rem;
        flex-direction: column;
    }

    #btnUnete {
        align-self: center;
    }

    .quintaSection {
        max-width: 41.875rem;
    }

    .backgroundQuintaSection {
        justify-content: center;
        max-width: 100%;
        border-radius: 1.875rem;
        background-image:
            linear-gradient(#4c0082b2, #f5f5f51a),
            url(../assets/fotoSection5.jpg);
        /* agrego de fondo una imagen*/

    }

    .articuloQuintaSection {
        max-width: 100%;
        margin: 0 1.25rem;
    }

    /* HTML Aprende */
    main>:first-child {
        max-width: 100%;
        padding: 0;
        margin: .625rem 0;
    }

    .articuloPrimeraSectionAprende {
        max-width: 41.875rem;
        margin: 0;
        padding: .625rem;
    }

    .segundaSectionAprende {
        max-width: 100%;
        padding: 0;
        margin: .625rem 0;
    }

    .articuloSegundaSectionAprende {
        max-width: 41.875rem;
        margin: 0;
        padding: .625rem;
    }

    .terceraSectionAprende {
        max-width: 41.875rem;
        padding: .625rem;
        margin: .625rem auto;
        gap: 1.25rem;
    }

    .articuloNeurodivergenciaTea {
        padding: 1.25rem;
        gap: .9375rem;
    }

    .articuloNeurodivergencia {
        padding: 1.25rem;
    }

    .cuartaSectionAprende img {
        width: 9.375rem;
    }

    .cuartaSectionAprende {
        padding: 1.25rem;
        margin: .625rem auto;
    }

    .quintaSectionAprende {
        margin: .625rem 0;
    }

    .contenedorQuintaSectionAprende {
        max-width: 670rem;
        padding: 1.25rem;
        flex-direction: column;
        gap: .625rem;
        justify-content: center;
    }
}

/* Responsive mobile */
@media ((min-width: 18rem) and (max-width: 46.5rem)) {
    h1 {
        font-family: 'Roboto Slab, serif';
        font-size: 24px;
        color: #f5f5dc;
        font-weight: 700;
        margin: 0;
    }

    h2 {
        font-family: 'Roboto Slab, serif';
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    h3 {
        font-family: 'Roboto Slab, serif';
        font-size: 18px;
        font-weight: 600;
    }

    h4 {
        font-family: 'Roboto Slab, serif';
        font-size: 16px;
        font-weight: 500;
    }

    h5 {
        font-family: 'Roboto Slab, serif';
        font-size: 14px;
        font-weight: 500;
    }

    h6 {
        font-family: 'Roboto Slab, serif';
        font-size: 14px;
        font-weight: 400;
    }

    p {
        font-family: "Merriweather", serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.6;
        /* altura de linea */
        margin: 0;
    }

    a {
        font-size: 8px;
    }

    .btnAmarillo {
        width: 3.75rem;
    }

    .btnBlanco {
        width: 3.75rem;
    }

    .titulosHeader {
        display: none;
    }

    .botonesHeader {
        flex-direction: column;
    }

    .primeraSection {
        margin: 1.25rem auto;
    }

    .flexPrimeraSection {
        max-width: 18rem;
        height: auto;
        padding: .625rem;
        padding: 0;
        justify-content: center;
    }

    .flexPrimeraSection h1 {
        max-width: 100%;
        justify-content: center;
    }

    .flexPrimeraSection h2 {
        max-width: 100%;
        /* font-size: 24px; */
        justify-content: center;
    }

    .flexPrimeraSection div {
        align-self: center;
        font-size: .875rem;
    }

    .segundaSection article {
        flex-direction: column;
        gap: .625rem;
    }

    .segundaSection article h2 {
        font-size: 18px;
    }

    .terceraSection {
        max-width: 18rem;
        margin: 1.25rem auto;
        flex-direction: column;
        gap: .625rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .terceraSection p {
        align-self: center;
    }

    .terceraSection img {
        width: 9.375rem;
        height: 9.375rem;
    }

    .sectionDonar {
        max-width: 100%;
        gap: 1.25rem;
    }

    .contenedorQuieroDonar {
        max-width: 100%;
        gap: .625rem;
        justify-content: center;
    }

    #quieroDonarTitulo {
        grid-column: 1/5;
        justify-self: center;
    }

    #quieroDonarSubtitulo {
        display: none;
    }

    #quieroDonar5 {
        max-width: fit-content;
    }

    #quieroDonar10 {
        max-width: fit-content;
    }

    #quieroDonar20 {
        max-width: fit-content;
    }

    #btnDonar {
        max-width: fit-content;
    }

    .cuartaSection {
        max-width: 18rem;
        margin: 1.25rem auto;
        gap: 1.25rem;
    }

    .contenedorCuartaSection {
        max-width: 100%;
        gap: .625rem;
        flex-direction: column;
    }

    .articuloCuartaSection div {
        width: fit-content;

    }

    #btnUnete {
        align-self: center;
    }

    .quintaSection {
        max-width: 18rem;
    }

    .backgroundQuintaSection {
        justify-content: center;
        max-width: 100%;
        border-radius: 1.875rem;
        background-image:
            linear-gradient(#4c0082b2, #f5f5f51a),
            url(../assets/fotoSection5.jpg);
        /* agrego de fondo una imagen*/

    }

    .articuloQuintaSection {
        max-width: 100%;
        margin: 0 1.25rem;
    }

    .primerContenedorFooter {
        flex-direction: column;
        gap: .625rem;
    }

    .primerContenedorFooter div {
        font-size: .75rem;
        width: fit-content;
    }

    /* HTML Aprende */
    main>:first-child {
        max-width: 100%;
        padding: 0;
        margin: .625rem 0;
    }

    main>:first-child h1 {
        text-align: center;
    }

    .articuloPrimeraSectionAprende {
        max-width: 18rem;
        margin: 0;
        padding: .3125rem;
    }

    .segundaSectionAprende {
        max-width: 100%;
        padding: 0;
        margin: .3125rem 0;
    }

    .articuloSegundaSectionAprende {
        max-width: 18rem;
        margin: 0;
        padding: .3125rem;
    }

    .terceraSectionAprende {
        max-width: 18rem;
        padding: .3125rem;
        margin: .3125rem auto;
        gap: .625rem;
    }

    .articuloNeurodivergenciaTea {
        padding: 1.25rem;
        gap: .9375rem;
        text-align: justify;
        justify-content: center;
    }

    .articuloNeurodivergencia {
        padding: .625rem;
    }

    .cuartaSectionAprende img {
        width: 6.25rem;
    }

    .cuartaSectionAprende {
        padding: .625rem;
        margin: .3125rem auto;
    }

    .quintaSectionAprende {
        margin: .625rem 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contenedorQuintaSectionAprende {
        max-width: 41.875rem;
        padding: .625rem;
        flex-direction: column;
        gap: .3125rem;
        justify-content: center;
    }
}
