@import"./utilities/variables";
@import"./base/reset";
@import"./base/fonts";
@import"./components/navbar";
@import"./components/buttons";
@import"./layout/index.scss";
@import"./layout/footer";

ul{
    list-style: none;
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}



ol {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    /* altura de linea */
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

