@media screen and (min-width: 30rem) and (max-width: 60rem) {
    .primeraSectionAprende {
        max-width: 90%;
        margin: 1.25rem auto;

        article {
            padding: .625rem;
            gap: .625rem;

            h1 {
                color: $colorPrincipal;
            }

            p {
                text-align: justify;
            }
        }
    }

    .segundaSectionAprende {
        max-width: 90%;

        article {
            gap: .625rem;
        }
    }

    .terceraSectionAprende {
        max-width: 90%;
        margin: 1.25rem auto;

        >:first-child {
            display: flex;
            gap: 1.25rem;

            ol {
                gap: .625rem;
            }

            div {
                align-self: center;
            }

            p {
                text-align: justify;
            }
        }

        article {
            div {
                width: fit-content;
                align-self: center;
            }
        }
    }

    .quintaSectionAprende {
        margin: 1.25rem auto;

        article {
            max-width: 90%;
            flex-direction: column;

            h2 {
                text-align: center;
            }
        }
    }

    .sextaSectionAprende {
        max-width: 90%;

        .contenedorSextaSectionAprende {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            >:first-child {
                max-width: 100%;

            }

            >:last-child {
                max-width: 100%;
            }
        }
    }
}