@media screen and (max-width: 30rem) {
    .primeraSectionAprende {
        max-width: 95%;
        margin: .625rem auto;

        article {
            padding: .625rem;
            gap: .625rem;
        }
    }

    .segundaSectionAprende {
        max-width: 95%;

    }

    .terceraSectionAprende {
        max-width: 95%;
        margin: .625rem auto;

        >:first-child {
            display: flex;
            gap: .625rem;

            ol {
                gap: .625rem;
            }

            div {
                align-self: center;
            }

            p {
                text-align: justify;
            }
        }

        article {
            div {
                width: fit-content;
                align-self: center;
            }
        }
    }

    .cuartaSectionAprende{
        max-width: 95%;
        flex-direction: column;
        article{
            max-width: 12.5rem;
        }
    }

    .quintaSectionAprende {
        margin: .625rem auto;

        article {
            max-width: 95%;
            flex-direction: column;

            h2 {
                text-align: center;
            }
        }
    }

    .sextaSectionAprende {
        max-width: 95%;

        .contenedorSextaSectionAprende {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            >:first-child {
                max-width: 100%;

            }

            >:last-child {
                max-width: 100%;
            }
        }
    }
}