.primeraSectionConocenos {
    @include boxModelingMobile;

    article {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

        h1 {
            color: $colorPrincipal;
        }
    }
}

.segundaSectionConocenos {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: $colorSecundario;

    article {
        padding: 1.25rem;
        border-radius: 1.25rem;
        background-color: $colorPrincipal;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


        p {
            text-align: justify;
        }

        div {
            align-self: center;
        }
    }
}

.terceraSectionConocenos {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .contenedorTerceraSectionConocenos {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        border: .0625rem $colorPrincipal solid;
        border-radius: 1.875rem;

        >:first-child {
            order: 2;
            max-width: 100%;
            padding: 1.25rem;
            border-radius: 0 0 1.875rem 1.875rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            gap: 1.25rem;
            background-color: $colorPrincipal;
            color: $colorSecundario;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            >:last-child {
                width: fit-content;
            }
        }

        :last-child {
            max-width: 100%;
            display: flex;

            img {
                max-width: 100%;
                object-fit: cover;
                border-radius: 1.875rem 1.875rem 0 0;
            }
        }
    }
}

.cuartaSectionConocenos {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    >:first-child {
        display: flex;
        flex-direction: column;
        gap: .625rem;

        h2 {
            color: $colorPrincipal;
        }

        p {
            text-align: justify;
        }
    }

    >:last-child {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        article {
            display: flex;
            flex-direction: column;
            gap: .625rem;

            h3 {
                color: $colorPrincipal;
            }

            p {
                text-align: justify;
            }
        }
    }
}

.quintaSectionConocenos {
    @include boxModelingMobile;

    >:first-child {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 1.875rem;
        border: $colorPrincipal .0625rem solid;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        >:first-child {
            order: 2;
            max-width: 100%;
            padding: 1.25rem;
            border-radius: 0 0 1.875rem 1.875rem;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            justify-content: center;
            align-items: center;

            h2 {
                color: $colorPrincipal
            }

            p {
                text-align: justify;
            }

            div {
                width: 100%;
            }
        }

        >:last-child {
            max-width: 100%;
            display: flex;

            img {
                max-width: 100%;
                object-fit: cover;
                border-radius: 1.875rem 1.875rem 0 0;
            }
        }
    }

}

.sextaSectionConocenos {
    @include boxModelingMobile;

    >:first-child {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        border: solid $colorPrincipal .0625rem;
        border-radius: 1.875rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        >:first-child {
            max-width: 100%;
            display: flex;

            img {
                max-width: 100%;
                object-fit: cover;
                border-radius: 1.875rem 1.875rem 0 0;
                border-right: none;
            }
        }

        >:last-child {
            max-width: 100%;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            border-radius: 0 0 1.875rem 1.875rem;

            >:last-child {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;

                >:last-child {
                    width: 100%;
                }
            }
        }
    }
}