.primeraSection {
    @include boxModelingMobile;

    >:first-child {
        background-image: url(../assets/fotoTitulo1.jpg);
        background-color: $colorPrincipal;
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        max-width: 100%;
        padding: 1.875rem;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        color: $colorSecundario;

        >:first-child {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            font-size: 1.5rem;
        }

        >:nth-child(2) {
            color: transparent;
            background: linear-gradient(45deg, #FF6B6B, #FFB86C, #FFD93D, #6FCF97, #56CCF2, #9B51E0, #D1C4E9);
            background-clip: text;
            -webkit-background-clip: text;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            animation: gradientAnimation 3s infinite;
            text-align: center;
        }

        >:nth-child(3) {
            text-align: justify;
        }
    }
}

.segundaSection {
    max-width: 100%;
    background-color: $colorPrincipal;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    article {
        @include boxModelingMobile;
        color: $colorSecundario;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        text-align: center;
    }
}

.terceraSection {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;

    article {
        @include flex-container;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img {
            width: 9.375rem;
            height: 9.375rem;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        }

        p {
            height: 3.125rem;
            text-align: justify;
        }

        .pDerecha {
            align-self: flex-end;
            color: $colorPrincipal;
        }

    }
}

.sectionDonar {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    >:first-child {
        text-align: center;
        color: $colorPrincipal;
    }

    >:last-child {
        max-width: 100%;
        display: flex;
        flex-direction: column;

        >:first-child {
            order: 2;
            max-width: 100%;
            padding: 1.25rem;
            background-color: $colorPrincipal;
            color: $colorSecundario;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            border-radius: 0 0 1.875rem 1.875rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            >:nth-child(2) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                gap: .625rem;

                div {
                    width: 100%;
                }
            }

            input {
                width: 100%;
            }

            >:last-child {
                width: 100%;
            }
        }

        >:last-child {
            max-width: 100%;
            display: flex;

            img {
                max-width: 100%;
                object-fit: cover;
                border-radius: 1.875rem 1.875rem 0 0;
            }
        }
    }

}

.cuartaSection {
    @include boxModelingMobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    >:first-child {
        color: $colorPrincipal;
        align-self: center;
    }

    >:last-child {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        article {
            flex: 1;
            padding: 1.25rem;
            border-radius: 1.875rem;
            background-color: #4b0082;
            color: #f5f5dc;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            gap: .625rem;
            text-align: justify;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            >:first-child {
                height: 5.625rem;
                border: solid 1px #f5f5dc;
                margin: .3125rem;
                border-radius: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            >:nth-child(3) {
                height: auto;
                padding: .3125rem;
            }

            >:last-child {
                width: 100%;
            }
        }
    }
}


.quintaSection {
    @include boxModelingMobile;

    >:first-child {
        width: 100%;
        padding: .625rem;
        background-image: url(../assets/fotoSection5.jpg);
        background-color: $colorPrincipal;
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
        border: solid .0625rem #4b0082;
        border-radius: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        >:first-child {
            max-width: 100%;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            color: $colorSecundario;

            >:first-child {
                text-align: center;
            }

            >:nth-child(2) {
                text-align: justify;
            }

            >:last-child {
                width: 9.375rem;
            }
        }
    }
}