@media screen and (min-width: 30rem) and (max-width: 60rem) {
    .primeraSection {
        margin: 1.25rem auto;
        padding: 0 .625rem;

        article {
            max-width: 90%;
            border-radius: 3.125rem 0 12.5rem 0;

            div {
                align-self: center;
            }
        }
    }

    .segundaSection {

        article {
            max-width: 90%;
            padding: .625rem;
        }
    }

    .terceraSection {
        max-width: 90%;
        margin: 1.25rem auto;
        flex-direction: column;
        article {

            img {
                width: 11.25rem;
                height: 11.25rem;

            }
        }
    }

    .sectionDonar {
        max-width: 90%;
        gap: 1.25rem;

        article {
            width: 70%;
            border-radius: .9375rem 0 3.125rem 0;

            //Contenedor quiero donar y form
            div {

                //Contendor form       
                div {
                    width: 70%;

                    input {
                        width: 100%;
                    }

                    div {
                        width: 100%;
                    }
                }
            }

        }
    }

    .cuartaSection {
        max-width: 90%;
        margin: 1.25rem auto;
        gap: 1.25rem;

        article {
            max-width: 100%;
            display: flex;
            gap: .625rem;
            flex-wrap: wrap;

            article {
                flex: 1;
                padding: 1.25rem;

                img {
                    height: 6.75rem;

                }

                div {
                    width: 12.5rem;
                }
            }
        }
    }

    .quintaSection {
        margin: 0;

        .backgroundQuintaSection {
            width: 90%;
            margin: 1.25rem auto;
            border-radius: 3.125rem 0 150 0;

            article {

                p {
                    text-align: justify;
                }
            }
        }
    }
}