@media screen and (max-width: 30rem) {
    .primeraSection {
        margin: .625rem auto;
        padding: 0 .625rem;

        article {
            max-width: 95%;
            padding: 1.25rem;
            border-radius: 1.875rem;
            margin: .625rem 0;
            align-items: center;
        }
    }

    .segundaSection {
        article {
            max-width: 95%;
            padding: .625rem;
            gap: .625rem;
            text-align: center;
        }
    }

    .terceraSection {
        max-width: 95%;
        margin: .625rem auto;
        flex-direction: column;

        article {
            gap: 1.25rem;

            img {
                width: 5.625rem;
                height: 5.625rem;
            }
        }
    }

    .sectionDonar {
        max-width: 95%;
        gap: .625rem;

        article {
            width: 80%;
            border-radius: 1.875rem;

            //Contenedor quiero donar y form
            div {
                flex-direction: column;

                p {
                    align-self: center;
                }

                //Contendor form       
                div {
                    width: 70%;


                    input {
                        width: 100%;
                    }

                    div {
                        width: 100%;
                        flex-direction: column;
                    }
                }
            }

        }
    }

    .cuartaSection {
        max-width: 95%;
        margin: .625rem auto;
        gap: .625rem;

        article {
            max-width: 100%;
            gap: .625rem;

            article {
                flex: 1;
                padding: 1.25rem;

                img {
                    height: 6.75rem;

                }

                div {
                    width: 12.5rem;
                    margin: .625rem;
                }
            }
        }
    }

    .quintaSection {
        margin: 0;

        .backgroundQuintaSection {
            width: 95%;
            margin: 10px auto;
            border-radius: 1.875rem;

            article {
                margin: 0;
                padding: 30px;

                p {
                    text-align: justify;
                }
            }
        }
    }
}