@mixin flex-container($padding: 1.25rem, $border-width: 0.0625rem, $border-color: #4b0082, $border-radius: 1.875rem, $gap: 1.25rem) {
    flex: 1;
    padding: $padding;
    border: solid $border-width $border-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin boxModelingMobile {
    max-width: 21.25rem;
    padding: .625rem;
    margin: .625rem auto;
    transition: all 0.5s ease-in-out;

}

@mixin boxModelingTablet{
    max-width: 37.5rem;
    padding: .625rem;
    margin: 1.25rem auto;
    transition: all 0.5s ease-in-out;

}

@mixin boxModelingDesktop {
    max-width: 71.25rem;
    padding: .625rem;
    margin: 2.5rem auto;
    transition: all 0.5s ease-in-out;
}

@mixin fontSizeMixin($sizeName) {
    font-size: fontSizeFunction($sizeName);
    line-height: 1.5;
    font-family: "Roboto Slab", serif;

    @media screen and (min-width: 30.0625rem) and (max-width: 60rem) {
        font-size: fontSizeFunctionTablet($sizeName);
        line-height: 1.5;
        font-family: "Roboto Slab", serif;
    }

    @media screen and (max-width: 30rem) {
        font-size: fontSizeFunctionPhone($sizeName);
        line-height: 1.5;
        font-family: "Roboto Slab", serif; 
    }
}

@mixin font2SizeMixin($sizeName) {
    font-size: fontSizeFunction($sizeName);
    line-height: 1.5;
    font-family: "Merriweather", serif;

    @media screen and (min-width: 30.0625rem) and (max-width: 60rem) {
        font-size: fontSizeFunctionTablet($sizeName);
        line-height: 1.5;
        font-family: "Merriweather", serif;
    }

    @media screen and (max-width: 30rem) {
        font-size: fontSizeFunctionPhone($sizeName);
        line-height: 1.5;
        font-family: "Merriweather", serif; 
    }
}


