.btnBlanco {
    width: 120px;
    padding: .625rem;
    color: $colorPrincipal;
    border: solid .0625rem $colorPrincipal;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: $colorSecundario;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 2s;
    transition-property: color;
    display: flex;
    justify-content: center;
    align-content: center;

    &:focus,
    &:hover {
        color: $colorSecundario;
        background-color: $colorPrincipal;
        border: solid .0625rem $colorSecundario;
        transition-duration: 2s;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &:focus:after,
    &:hover:after {
        width: 90%;
        left: 0%;
    }

    &:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $colorSecundario;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 2s;
        transition-property: width, left;
    }

}

.botonPurpura {
    @extend.btnBlanco;
    background-color: $colorPrincipal;
    color: $colorSecundario;

    &:focus,
    &:hover {
        color: $colorPrincipal;
        background-color: $colorSecundario;
        border: solid .0625rem $colorPrincipal;
    }

    &:after {
        background-color: $colorPrincipal;
    }
}

@media screen and (min-width: 30rem) and (max-width: 60rem) {
    .btnBlanco {
        padding: .4375rem;
        width: 5.4375rem;
    }
}

@media screen and (max-width: 30rem) {
    .btnBlanco {
        padding: .3125rem;
        width: 5.4375rem;
    }
}