body {
    ul {
        font-family: "Merriweather", serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        margin: 0;
    }
    
    ol {
        font-family: "Merriweather", serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        margin: 0;
    }
    
    a {
        font-family: "Merriweather", serif;
        font-size: 14px;
        font-weight: 300;
    }
    
    h1 {
        font-family: 'Roboto Slab, serif';
        font-size: 48px;
        font-weight: 900;
    }
    
    h2 {
        font-family: 'Roboto Slab, serif';
        font-size: 32px;
        font-weight: 800;
    }
    
    h3 {
        font-family: 'Roboto Slab, serif';
        font-size: 24px;
        font-weight: 700;
    }
    
    h4 {
        font-family: 'Roboto Slab, serif';
        font-size: 20px;
        font-weight: 600;
    }
    
    h5 {
        font-family: 'Roboto Slab, serif';
        font-size: 16px;
        font-weight: 500;
    }
    
    h6 {
        font-family: 'Roboto Slab, serif';
        font-size: 14px;
        font-weight: 400;
    }
    
    p {
        font-family: "Merriweather", serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        margin: 0;
    }
}